<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.openorienteering.mapper"
    android:installLocation="auto"
    android:versionCode="-- %%INSERT_VERSION_CODE%% --"
    android:versionName="-- %%INSERT_VERSION_NAME%% --">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- %%INSERT_PERMISSIONS -->
    <!-- %%INSERT_FEATURES -->

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name="org.qtproject.qt.android.bindings.QtApplication"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="false"
        android:fullBackupOnly="false"
        android:hardwareAccelerated="true"
        android:icon="-- %%INSERT_APP_ICON%% --"
        android:label="-- %%INSERT_APP_NAME%% --">

        <activity
            android:name="org.openorienteering.mapper.MapperActivity"
            android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
            android:exported="true"
            android:label="-- %%INSERT_APP_NAME%% --"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:priority="1">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/x-openorienteering-xmap" />
                <data android:mimeType="application/x-openorienteering-ocd" />
            </intent-filter>

            <intent-filter android:priority="1">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.ocd" />
                <data android:pathPattern=".*\\.omap" />
                <data android:pathPattern=".*\\.xmap" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="-- %%INSERT_APP_LIB_NAME%% --" />
            <meta-data
                android:name="android.app.arguments"
                android:value="-- %%INSERT_APP_ARGUMENTS%% --" />
        </activity>

        <service
            android:name="org.openorienteering.mapper.MapperService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.qtprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/qtprovider_paths" />
        </provider>
    </application>
</manifest>
